*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
   
    
}
.color{
        background-color:#22223b ;
        background-color:#f2e9e4 ;
        background-color:#c9ada7 ;
        background-color:#4a4e69 ;

}
.navigation-bar{
   background-color: #f2e9e4;
    position: fixed;
    display: flex;
    justify-content:space-between;
    padding:15px 100px 15px 100px;
    width: 100%;
    height: 8vh;

}
.navigation-bar .logo p {
    font-family: 'Kelly Slab', cursive; 
    font-weight: bold;
    font-size: 20px;
    color: #22223b;
    cursor: pointer;
    filter: none;
    transition: 0.5s;
}
/* .navigation-bar .logo p:hover {
    font-size: 22px;
    color: #f2e9e4; 
    width: 50px;
    background-color: #22223b;
} */
.navigation-bar i{
    display: none;
}
.navigation-bar .list-item-nav{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    opacity: 80%;
    width: 40%;
}
.navigation-bar .list-item-nav a{ 
    text-decoration: none;
    color: #22223b;
}

/* Home screen */

.container-home{
    display: flex;
    justify-content: center;
    background-color: #f2e9e4;
    padding:15px 70px 15px 70px;
    width: 100%;
    height: 100vh;
}
.container-home .content-text2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
    background-color: #4a4e69;
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 50%;
    
}
.container-home .content-text2::before{
    content: "";
    position: absolute;
    width: 300px;
    height: 400px;
    background-color: #c9ada7;
    transition: 0.7s;
    animation: animate 10s linear infinite;

}
.container-home .content-text2:hover::before{
    width: 400px;
    height: 400px;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.container-home .content-text2 .content-text-child{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 390px;
    height: 390px;
    border-radius: 999px;
    background-color: #f2e9e4;
}

.container-home .content-text2 .content-text-child img{
    position: relative;
    width: 340px;
    height: 340px;
    border-radius: 999px;
    background-color: #22223b;
    transition: 0.7s;

}
.container-home .content-text2 img:hover{
    background-color:#4a4e69;
}

.container-home .content-text1 {
    color: #22223b;
    font-size: 25px;
    margin-top: 190px;
    margin-left: 10%; 
}
.container-home .content-text1 h1{
    font-family: 'Kelly Slab', cursive;
}
.container-home .content-text1 h2{
    font-size: 25px;
    color: #22223b;
    margin-left: 4px;
}
.container-home .content-text1 .cv{
    width: 50%;
    background-color: #22223b;
    color: #f2e9e4;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    border-style: none;
    transition: 0.5s;
}
.container-home .content-text1 .cv:hover{
   
    background-color: #c9ada7;
    color: #22223b;
    box-shadow: 1px 1px 1px 0px #22223b;
}
.icon{
    margin-top: 10px;
}
.icon .fa-brands{
    font-size: 37px;
    width: 10%;
    transition: 0.5s;
}
.icon .fa-brands:hover{
   color: #4a4e69;
}
/* navigation bar mobile */
@media screen and (max-width:950px) {
    .navigation-bar .list-item-nav{
       width: 60%;
    }
}

/* tablet view */
@media screen and (max-width:750px) {

   
    .navigation-bar{
        padding:15px 70px 15px 70px;
        background-color: #f2e9e4;
        width: 100;
        height: 8vh;
        color: #22223b;
        z-index: 1;
    }
   .navigation-bar .fa-sharp{
    display: block;
    margin-top: 10px;
    cursor: pointer;
    font-size: large;
   }
   .navigation-bar .list-item-nav{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    left: 0px;
    opacity: 80%;
    background-color: #f2e9e4;
    color: #22223b;
    transform: translateY(-133%);
    transition: transform 0.5s ease-in;
   
   }
   .list-item-nav li {
    padding-top: 5px;
    opacity: 0;
   }
   .navigation-bar .list-item-nav-active{
    transform: translateY(0%);
   }
   @keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateY(50px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
    
   } 
   /* home */
   .container-home{
    display: flex;
    flex-direction: column;
    
   }
   .container-home .content-text2{
    background-color: white;
    border-radius: 0%;
    width: 100%;
    margin-top: 0%;
    margin-bottom: 0%;
    padding-top: 70%;
    padding-bottom: 30%;
   }
   .container-home .content-text2 .content-text-child{
    background-color: white;
   }
   .container-home .content-text2::before{
    background-color: white;
   }
   .container-home .content-text1{
    margin-top: 0%;
    padding-top: 20%;
    margin-left: 0%;
    
   }

}  
@media screen and(max-width:690px) {
    .container-home .content-text2 .content-text-child img{
        width: 100%;
        padding-bottom: 20%;
    }
}
/* mobile view */
@media screen and (max-width:360px ) {
    .navigation-bar{
        padding:15px 20px 15px 20px;
        z-index: 4;
    }
    .container-home{
        padding:0px 20px 0px 20px;
    }
    .container-home .content-text2{
        background-color: #22223b;
        width: 100%;
        height: 50%;
        border-radius: 50%;
        margin-top: 20%;
        margin-bottom: 20%;
        padding-top: 0%;
        padding-bottom: 0%;
        
    }
    .container-home .content-text2::before{
        position: absolute;
        display: block;
        width: 30%;
        height: 100vh;
        z-index: 2;  
    }
    .container-home .content-text2 .content-text-child{
        width: 100%;
        height: 100%;
        background-color: #22223b;
        border-radius: 50%;
        
    }
    .container-home .content-text2 .content-text-child img{
        width: 97%;
        height: 97%;
        background-color:#c9ada7;
        z-index: 3;
    }
    .container-home .content-text1{
        padding-top: 0%;
        margin-top: 0%;
       
        
    }
    .container-home .content-text1 h1{
        font-size: 50px;
        font-weight: bold;

    }
}