*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
   
    
}
.color{
        background-color:#22223b ;
        background-color:#f2e9e4 ;
        background-color:#c9ada7 ;
        background-color:#4a4e69 ;

}
.font{
    font-family: 'Kelly Slab', cursive; 
    font-weight: bold;
}
.navigation-bar{
   background-color: #f2e9e4;
    position: fixed;
    display: flex;
    justify-content:space-between;
    padding:15px 100px 15px 100px;
    width: 100%;
    height: 8vh;
    font-family: 'Montserrat', sans-serif;
    z-index: 1;

}
.navigation-bar .logo p {
    font-size: 20px;
    color: #22223b;
    cursor: pointer;
    filter: none;
    transition: 0.5s;
}
/* .navigation-bar .logo p:hover {
    font-size: 22px;
    color: #f2e9e4; 
    width: 50px;
    background-color: #22223b;
} */
.navigation-bar i{
    display: none;
}
.navigation-bar .list-item-nav{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin-right: 0%;
    padding-right: 0%;
    opacity: 80%;
    width: 40%;
}
.navigation-bar .list-item-nav a{ 
    text-decoration: none;
    color: #22223b;
}

/* Home screen */

.container-home{
    display: flex;
    justify-content: space-evenly;
    background-color: #f2e9e4;
    padding:15px 70px 15px 70px;
    width: 100%;
    height: 100vh;
}
.container-home .container-homeC1{
    margin-top: 0px;
}
 .content-text2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
    background-color: #f2e9e4;
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 50%;
    
}
.container-home .content-text2::before{
    content: "";
    position: absolute;
    width: 300px;
    height: 400px;
    background-color:#22223b;
    transition: 0.7s;
    animation: animate 10s linear infinite;

}
.container-home .content-text2:hover::before{
    width: 400px;
    height: 400px;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.container-home .content-text2 .content-text-child{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 390px;
    height: 390px;
    border-radius: 999px;
    background-color: #f2e9e4;
}

.container-home .content-text2 .content-text-child img{
    position: relative;
    width: 340px;
    height: 340px;
    border-radius: 999px;
    background-color: #22223b;
    transition: 0.7s;

}
.container-home .content-text2 img:hover{
    background-color:#c9ada7;
}

.container-home .content-text1 {
    width: 50%;
    color: #22223b;
    margin-top: 140px;
    margin-left: 0%; 
 
}
.container-home .content-text1 h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 70px;
    margin-top: 0px;
   
}
.container-home .content-text1 h2{
    font-size: 23px;
    color: #22223b;
    margin-left: 4px;
    font-weight: normal;
}
.content-text1 .bar-design{
   display: flex;
   margin-top: 20px;

}
.content-text1 .bar-design .design1{
    background-color: #22223b;
    width: 25%;
    height: 7px;
    border-radius: 100px;
}
.content-text1 .bar-design .design2{
    background-color: #c9ada7;
    width: 5%;
    height: 7px;
    border-radius: 100px;
    margin-left: 10px;
    
}
.icon{
    display: flex;
    justify-content: flex-start;
    margin-top: 25px;
} .cv{
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    background-color: #22223b;
    color: #f2e9e4;
    padding: 10px;
    margin-right: 11px;
    border-radius: 5px;
    border-style: none;
    font-weight: normal;
    transition: 0.5s;
}
.cv i{
    margin-top: 2px;
}

.container-home .content-text1 .icon .cv:hover{
    cursor: pointer;
    background-color: #c9ada7;
    color: black;
    text-shadow: 0 0 8px #f2e9e4, 0 0 8px #f2e9e4;
}
.icon .fa-brands{
    font-size: 36px;
    width: 7%;
    transition: 0.5s;
    color: #22223b;
}
.icon .fa-brands:hover{
   color: #c9ada7;
   cursor: pointer;
}

/* what i do  */

.container-whatIdo{
    background-color: #c9ada7;
    width: 100%;
    height: 100vh;
}
.container-whatIdo1{
    padding:15px 100px 15px 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #c9ada7;

}
.container-whatIdo1 .child{
    width: 100%;
    height: 60vh;
    background-color: #f2e9e4;
    margin-right: 30px;
    border-radius: 2%;
}
.container-whatIdo .container-whatIdo1 .web-design h1{
   
    padding: 80px 30px 0px 30px;
    
}
.container-whatIdo .container-whatIdo1 .photo-editor h1{
   
    padding: 80px 30px 0px 30px;
}
.container-whatIdo .container-whatIdo1 .desktop-support h1{
   
    padding: 80px 30px 0px 30px;
}
.more{
    background-color: #22223b;
    border-style: none;
    padding: 8px 15px 8px 15px;
    border-radius: 5px;
    color: #f2e9e4;
    margin-left:30px;
    margin-bottom: 20px;
}

/* bar div design */

 #bar-design{
    display: flex;
    padding: 10px 0px 0px 30px;
 }
 #design1{
     background-color: #22223b;
     width: 25%;
     height: 7px;
     border-radius: 100px;
 }
 #design2{
     background-color: #c9ada7;
     width: 5%;
     height: 7px;
     border-radius: 100px;
     margin-left: 10px;
     
 }
.container-whatIdo1 .web-design p{
    font-size: 15px;
    padding: 30px 30px 30px 30px;
    line-height: 25px;
}
.container-whatIdo1 .photo-editor p{
    font-size: 15px;
    padding: 30px 30px 30px 30px;
    line-height: 25px;
}
.container-whatIdo1 .desktop-support p{
    font-size: 15px;
    padding: 30px 30px 30px 30px;
    line-height: 25px;
    font-family: 'Montserrat', sans-serif;
}

/* code for smoothscroll effect */
.hidden{
    opacity: 0;
    filter: blur(10px);
    transform: translateX(-30%);
    transition: all 1.0s;

}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);

}
.hidden1{
    opacity: 0;
    filter: blur(10px);
    transform: translateY(40%);
    transition: all 1.0s;

}
.show1{
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);

}
/* .animate:nth-child(2){
    transition-delay: 1s;
}
.animate:nth-child(3){
    transition-delay: .2s;
}
.animate:nth-child(4){
    transition-delay: .4s;
} */

/* about me css code */
.container-aboutMe{
    background-color: #22223b;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding:15px 100px 15px 100px;
   
}
.container-aboutMe1{
    width: 100%;
    height: 100vh;
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container-aboutMe1 .parent-picture{
    width: 50%;
    height: 70vh;
    display: flex;
   
   
   
}
.container-aboutMe1 .parent-picture img{
    position: relative;
    width: 90%;
    height: 60vh;
    border-radius: 10px;
    


}
.container-aboutMe1 .about-me{
    width: 50%;
    height: 70vh;
    background-color: #f2e9e4;
    border-radius: 10px;
   
}
.container-aboutMe1 .about-me .h1about{
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    color: #22223b;
  
}
.container-aboutMe1 .about-me .text{
    padding-top: 20px;
    color: #22223b;
}
.container-aboutMe1 .about-me p{
    font-size: 15px;
    padding-top: 10px;
}

/* bar design about */
#bar-design-about{
    display: flex;
    padding: 10px 0px 0px 0px;
 }
 #design1-about{
     background-color: #22223b;
     width: 15%;
     height: 7px;
     border-radius: 100px;
 }
 #design2-about{
     background-color: #c9ada7;
     width: 5%;
     height: 7px;
     border-radius: 100px;
     margin-left: 10px;
     
 }





/* navigation bar mobile */

@media screen and (max-width:1020px){
    .navigation-bar{
        padding:15px 20px 15px 20px;
    }
    .navigation-bar .list-item-nav{
        width: 60%;
     }
     .container-home{
        padding:15px 20px 15px 20px;
        width: 100%;
        height: 100vh;
     }
    .container-home .content-text2{
        background-color: #f2e9e4;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container-home .content-text2 .content-text-child{
        background-color: #f2e9e4;
    }
    .container-home .content-text2:before{
        display: none;
    }
    .container-home .content-text1{
        margin-top: 170px;
    }
    .container-home .content-text1 h1{
        font-family: 'Montserrat', sans-serif;
        font-weight: normal;
        font-size: 50px;
    }
    .cv{
        display: flex;
        justify-content: space-evenly;
        width: 40%;
        background-color: #22223b;
        color: #f2e9e4;
        padding: 10px;
        margin-right: 11px;
        border-radius: 5px;
        border-style: none;
        font-weight: normal;
        transition: 0.5s;
    }
    .icon .fa-brands{
        font-size: 36px;
        width: 10%;
    }
}
/* tablet view */
@media screen and (max-width:750px) {

   
    .navigation-bar{
        padding:20px 20px 0px 20px;
        background-color: #f2e9e4;
        width: 100%;
        height: 8vh;
        color: #22223b;
        z-index: 1;
    }
    
   .navigation-bar .fa-sharp{
    display: block;
    margin-top: 10px;
    cursor: pointer;
    font-size: large;
   }
   .navigation-bar .list-item-nav{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    left: 0px;
    opacity: 80%;
    background-color: #f2e9e4;
    color: #22223b;
    transform: translateY(-133%);
    transition: transform 0.5s ease-in;
   
   }
   .list-item-nav li {
    padding-top: 5px;
    opacity: 0;
   }
   .navigation-bar .list-item-nav-active{
    transform: translateY(0%);
   }
   @keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateY(50px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
    
   } 
   /* home */
   .container-home{
    padding:20px 20px 0px 20px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   

   }
   .container-home .container-homeC1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
    margin-top: 30px;
   }
   .container-home .content-text2{
    border-radius: 0%;
    padding-top: 20%;
    padding-bottom: 20%;
    margin-top: 0%;
    
   }
   .container-home .content-text2 .content-text-child{
    background-color: #f2e9e4;
   }
   
   .container-home .content-text2::before{
    background-color: white;
    display: none;
   }
   .container-home .content-text1{
    padding-top: 0%;
    margin-top: 0%;
    margin-left: 0%;
    width: 100%;
    height: 50vh; 
   }
  

}  

@media screen and(max-width:470px ){

    .container-home{
        padding:20px 20px 0px 20px;
        background-color: #22223b;
       
    }.container-home .content-text2{
        background-color: #f2e9e4;
        width: 100%;
        height: 50vh;
    }
    .container-home .content-text2 .content-text-child img{
        width: 80%;
        height: 80%;
        background-color:#c9ada7;
        z-index: 3;
       
    }
}
 /* this media query is for mobile web */
@media screen and (max-width:360px ) {
    .navigation-bar{
        padding:15px 20px 15px 20px;
        z-index: 4;
        
    }
    .container-home{
        padding:20px 20px 0px 20px;  
    }
    .container-home .container-homeC1{
      
        height: 50vh;
        padding-top: 0px;
    }
    .container-home .content-text2{
        
        padding-top: 0px;
        width: 100%;
        height: 50vh;
       
       
    }
    .container-home .content-text2::before{
        display: none;
    }
    .container-home .content-text2 .content-text-child{
        width: 25em;
        height: 25em;
        background-color: #f2e9e4;
      
    }
    .container-home .content-text2 .content-text-child img{
        width: 80%;
        height: 80%;
        background-color:#c9ada7;
        z-index: 3;
        transition: 0.5s;
       
    }
    .container-home .content-text2 .content-text-child img:hover{
        background-color: #4a4e69;
    }
    .container-home .content-text1{
        padding-top: 0%;
        margin-top: 0%;
        width: 100%;
        height: 50vh; 
    }
    .container-home .content-text1 h1{
        margin-top: 5px;
        font-size: 50px;
        line-height: 90%;
    }
    .container-home .content-text1 .h2label {
        line-height: 100%;
        margin-top: 5px;
        
    }
    .container-home .content-text1 h2{
      
        font-size: 23px;
        
    }
    .container-home .content-text1 .bar-design{
        margin-top: 18px;
    }
    .container-home .content-text1 .icon{
        margin-top: 18px;
    }
    .icon .fa-brands{
        font-size: 35px;
        width: 15%;
        transition: 0.5s;
    }
    .cv{
        display: flex;
        justify-content: space-evenly;
        width: 50%;
        background-color: #22223b;
        color: #f2e9e4;
        padding: 10px;
        margin-right: 11px;
        border-radius: 5px;
        border-style: none;
        font-weight: normal;
        transition: 0.5s;
    }

    /* this code is keyframe of what i do container */

    .container-whatIdo{
        
        width: 100%;
        height: auto; 
        
        
    }
    .container-whatIdo1{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        padding:30px 10px 0px 30px;
      
       
    }
    .container-whatIdo1 .child{
        width: 100%;
        height: auto;
        margin-left: 0%;
        margin-bottom: 5%;
        
        
    }
    .container-whatIdo .container-whatIdo1 .web-design h1{
   
        padding: 50px 0px 0px 30px;
    }
    .container-whatIdo .container-whatIdo1 .photo-editor h1{
       
        padding: 50px 0px 0px 30px;
    }
    .container-whatIdo .container-whatIdo1 .desktop-support h1{
       
        padding: 50px 0px 0px 30px;
    }
    #bar-design{
        display: flex;
        padding: 10px 0px 0px 30px;
     }
     #design1{
         background-color: #22223b;
         width: 25%;
         height: 7px;
         border-radius: 100px;
     }
     #design2{
         background-color: #c9ada7;
         width: 5%;
         height: 7px;
         border-radius: 100px;
         margin-left: 10px;
         
     }
     .container-whatIdo1 .web-design p{
       
        padding: 30px 30px 30px 30px;
        line-height: 25px;
    }
    .container-whatIdo1 .photo-editor p{
       
        padding: 30px 30px 30px 30px;
        line-height: 25px;
    }
    .container-whatIdo1 .desktop-support p{
       
        padding: 30px 30px 30px 30px;
        line-height: 25px;
       
    }

    /* this css code is for about */

    
    .container-aboutMe{
        width: 100%;
        height: auto;
        padding: 0px;
        margin: 0px;
        background-color: #22223b;
    }

    .container-aboutMe1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding:30px 20px 20px 20px;
        width: 100%;
        height: auto;
        margin: 0px;
      
    }
    .container-aboutMe1 .parent-picture {
        width: 100%;
        height: auto;
        padding-bottom: 20px;
        margin: 0px;
       
       
    }
    .container-aboutMe1 .parent-picture img{
        width: 100%;
        height: 40vh;
        padding: 0px;
        margin: 0px;
    }

    .container-aboutMe1 .about-me{
        width: 100%;
        height: 50%;
        margin: 0px;
        padding-bottom: 20px;
        border-radius: 0;
        background-color: #f2e9e4;
        border-radius: 2%;

    }
    
    
}




